@import "./../../styles.scss";

.footer-links {
  font-size: 10px;
  font-weight: 400;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 4px;
  letter-spacing: -0.5px;
}

.footer-copyright {
  font-size: 10px;
  font-weight: 400;
  color: $secoundary;
  text-align: center;
  margin-bottom: 22px;
}

@media screen and (min-width: 376px) {
  .footer {
    margin-top: 56px;
    background-color: $special-grey;
  }
}
